<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/4.0.1/css/swiper.min.css">
    <title>广东了然文化传播有限公司</title>
</head>
<body>
<article>
    <div class="left">
        <div class="header">
            <!--左侧标题-->
            <h2>心观天下</h2>
        </div>
        <div class="navList">
            <ul>
                <li><i class="iconfont">&#xe618;</i><a href="./articles.html?type=theory">它山之石</a>
                </li>
                <li><i class="iconfont">&#xe618;</i><a href="./articles.html?type=experiment">时代脉搏</a></li>
                <li><i class="iconfont">&#xe618;</i><a href="./articles.html?type=theatre">大写的人</a></li>
                <li><i class="iconfont">&#xe618;</i><a href="./articles.html?type=notes">警世通言</a></li>
                <li class="active"><i class="iconfont">&#xe618;</i><a href="./pptShow.html">健康中国</a></li>
            </ul>
        </div>
    </div>

    <div class="right">
        <div id="articles">
            <section class="articles">
                <div class="img-wrapper">
                    <img src="./images/2.png">
                </div>
                <span class="publisher">了然文化</span><span class="time">2017-08-12</span>
                <h3><a href="#">文章文章文章文章</a></h3>
                <a class="article-footer" href="#">健康中国</a>
            </section>
        </div>
        <div class="pagination-container">
            <div id="pager"></div>
        </div>
    </div>

</article>
<div class="container">
    <span class="close">x</span>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./images/2.png"></div>
            <div class="swiper-slide"><img src="./images/3.png"></div>
            <div class="swiper-slide"><img src="./images/4.png"></div>
            <div class="swiper-slide"><img src="./images/5.png"></div>
            <div class="swiper-slide"><img src="./images/6.png"></div>
            <div class="swiper-slide"><img src="./images/7.png"></div>
            <div class="swiper-slide"><img src="./images/8.png"></div>
            <div class="swiper-slide"><img src="./images/9.png"></div>
            <div class="swiper-slide"><img src="./images/10.png"></div>
            <div class="swiper-slide"><img src="./images/11.png"></div>
            <div class="swiper-slide"><img src="./images/12.png"></div>
            <div class="swiper-slide"><img src="./images/13.png"></div>
            <div class="swiper-slide"><img src="./images/14.png"></div>
            <div class="swiper-slide"><img src="./images/15.png"></div>
            <div class="swiper-slide"><img src="./images/16.png"></div>
            <div class="swiper-slide"><img src="./images/17.png"></div>
            <div class="swiper-slide"><img src="./images/18.png"></div>
            <div class="swiper-slide"><img src="./images/19.png"></div>
            <div class="swiper-slide"><img src="./images/20.png"></div>
            <div class="swiper-slide"><img src="./images/21.png"></div>
            <div class="swiper-slide"><img src="./images/22.png"></div>
            <div class="swiper-slide"><img src="./images/23.png"></div>
            <div class="swiper-slide"><img src="./images/24.png"></div>
            <div class="swiper-slide"><img src="./images/25.png"></div>
        </div>
        <!-- 如果需要分页器 -->
        <!--<div class="swiper-pagination"></div>-->

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<script src="https://cdn.bootcss.com/Swiper/4.0.1/js/swiper.min.js"></script>
</body>
</html>