<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>广东了然文化传播有限公司</title>
    </head>
    <body>
        <article>
            <div class="left">
                <div class="header">
                    <!--左侧标题-->
                    <h2>{{title}}</h2>
                </div>
                <div class="navList">
                    <ul>
                        <li class="active">
                            <i class="iconfont">&#xe618;</i><span>面向总裁-心理顾问计划</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe618;</i><span>面向高管-心理指导计划</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe618;</i><span>面向职员-心理援助计划</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                    <div class="header">
                        <div>
                            您所在的位置: <a href="./index.html">首页</a> > <a href="#">{{title}}</a>
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <section class="president">
                            <h3 class="anchor">面向总裁——心理顾问计划</h3>
                                <div class="item">
                                    <div></div><!-- 
                                  --><div>背景分析</div>
                                </div>
                                <p>总裁是一个企业的灵魂人物，是大海航行的船长。总裁个人生活状态良好、事业前景明朗、内心强大而理智，是企业正常运行发展的关键要素。但是，中国改革四十多年来，“最短命的人群”、“最危险的角色”“最尴尬的身份”、“最辛苦的职业”竟然一股脑指向企业家群体。</p>
                                <img src="./image/1.png" alt=""><!-- 
                                --><img src="./image/2.png" alt=""><!-- 
                                --><img src="./image/3.png" alt="">
                                <p>“最短命的人群”—— 如果说不时呈现于媒体报道的某某知名企业家英年早逝是新闻聚光灯效应的体现，一份连续十八年定期发布的国家卫生计生委发布《全国职业病报告》显示的数据可能更有说服力：企业家群体寿命与人民警察群体交互占据倒数最后两个榜单位置。这是不是说：你每天遭遇的危险与警察叔叔一样多？不合常理！然而，你每天都是在战斗。有战斗就会有牺牲。</p>
                                <p>“最危险的角色”—— 企业发展的方向是企业的“命门”，一句调皮话说“做对的事胜过做对的事”（这句话语中，前面的“做对的事”含义是做的事是“合法的事”，“科学的事”、“有远见的事”、“利国利民的事”；后面的“做对的事” 含义是做的事是“对的时间”、“对的地点”、“对的方式”、“对的方法”做好了事）。如果不是这样呢？所以，“最危险的角色”不是刻意吓唬谁是吗？再说了，哪个企业家，是吓大的呢？</p>
                                <p>“最尴尬的身份”—— 中国四十年改革开放走过了一条不平凡的道路，四十年来，从邓小平这一代到习近平这一代，四代领导集体，一棒接一棒“矢志不移抓改革，一心一意谋发展”，确定了国家持续中兴的大势。在社会发展的经济层面上，企业家群体做出的卓越贡献成为决定性的核心力量。但是，在灿若群星的企业家群体中，谁是含着金钥匙出生的？谁没有“身无分文的窘迫”、“谎话连篇的无奈”、“闯红灯越雷池的惊恐”、“对起了所有人唯有对不起自己的苦楚”？但是，别人以为“出入豪车、五星宾馆、挥金如土、美女环绕”才是老板的生活标配。</p>
                                <p>“最辛苦的职业”—— 在这个世界上，如果有这样一门职业：“别人上班你已经上班，别人下班你还在上班”，“别人干活能挣钱，你去上班还得贴钱”，“别人干完了事一身轻松，你干完了随时拿你说事”、“别人亲人朋友都是真感情，你的亲人朋友都得钱铺路”、“别人不高兴可以不理会，你不高兴了得奉上笑脸”，你觉得这份工作是不是要三思呀？这就是企业家。</p>
                                <img src="./image/4.png" alt=""><!-- 
                                --><img src="./image/5.png" alt=""><!-- 
                                --><img src="./image/6.png" alt="">
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                    --><div>培训主题</div>
                                </div>
                                <li><i class="iconfont">&#xe663;</i>来自内心深处的呼唤 —— 我们为什么会成为不走寻常路的人</li>
                                <li><i class="iconfont">&#xe663;</i>底气和定力 —— 企业家做一番事业的心理资本</li>
                                <li><i class="iconfont">&#xe663;</i>“心的高贵”与“气的谦卑”—— 企业家应该如何与外界做富有建设性的沟通</li>
                                <li><i class="iconfont">&#xe663;</i> 打铁还需自身硬 —— 企业家应该具备的十二项修炼</li>
                                <li><i class="iconfont">&#xe663;</i>你的心情现在好吗 —— 企业家的压力与情绪管理</li>
                                <li><i class="iconfont">&#xe663;</i>每遇大事有静气 —— 企业家风险决策的理念智慧和策略</li>
                                <li><i class="iconfont">&#xe663;</i>断尾求生，真心英雄 —— 企业重大战略失误的预警和止损失决策心理导航</li>
                            </ul>
                            <img src="./image/7.png" alt=""><!-- 
                            --><img src="./image/8.png" alt=""><!-- 
                            --><img src="./image/9.png" alt="">
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                    --><div>工作模式</div>
                                </div>
                                <li><i class="iconfont">&#xe663;</i>主题面谈 —— 听取企业家的个人或企业成长史谈话，即时表达基于通晓相关知识、资讯的观点和主张</li>
                                <li><i class="iconfont">&#xe663;</i>心理旅行 —— 在陪同企业家业务出行的过程中，通过观察和自然交流，了解企业家的心理行为特点</li>
                                <li><i class="iconfont">&#xe663;</i>主题报告 —— 根据对企业家的全面了解，提出专业化的有利于企业家的工作预案。</li>
                            </ul>
                        </section>    
                        <section class="executives">
                            <h3 class="anchor">面向高管——心理指导计划</h3>
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                    --><div>背景分析</div>
                                </div>
                                <img src="./image/10.png" alt=""><!-- 
                                --><img src="./image/11.png" alt=""><!-- 
                                --><img src="./image/12.png" alt="">
                                <p><i class="iconfont">&#xe663;</i>企业中高层管理者，一般是指总经理、总工程师、总设计师、副总经理、各部门负责人，是一个企业的核心团队成员、主要负责人，是企业战略、规划、制度的制定者、指挥者、推行者。</p>
                                <p><i class="iconfont">&#xe663;</i>中高层管理者队伍的素质和管理水平直接关系到企业的执行力，关系到企业的生存发展。当企业规模逐渐扩大或企业停滞不前时，需要快速提升中高层管理人员的管理能力，以带动整个团队的成长。</p>
                                <p><i class="iconfont">&#xe663;</i>独立行事，“智慧+技术+经验”就够了。团队行动，就需要加上统帅团队的管理因素。管理本身就是一件很专业的事。在现实工作中，中高层管理人员出身管理专业的人就很少。再说了，“纸上得来终觉浅，身体力行出真知”。</p>
                                <p><i class="iconfont">&#xe663;</i>很多人是从业务或技术骨干直接走上管理岗位，靠摸索来积累管理经验，也会由于缺乏基本的管理知识而造成失误，给企业带来时间、金钱和机会的代价。没有经过专业的理论技术学习历练的管理者接受管理培训，已经成为中高层管理团队的刚性需求。</p>
                            </ul>
                            <img src="./image/13.png" alt=""><!-- 
                            --><img src="./image/14.png" alt=""><!-- 
                            --><img src="./image/15.png" alt="">
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                    --><div>培训主题</div>
                                </div>
                                <li><i class="iconfont">&#xe663;</i>群龙之首 —— 管理者的角色、价值和功能</li>
                                <li><i class="iconfont">&#xe663;</i>谁可为王 —— 一名优秀的管理者的心理画像</li>
                                <li><i class="iconfont">&#xe663;</i>道亦有道 —— 作为一名管理的应有的理念智慧和策略</li>
                                <li><i class="iconfont">&#xe663;</i>并肩前行 —— 与兄弟部门沟通合作的心理智慧</li>
                                <li><i class="iconfont">&#xe663;</i>合力致胜 —— 目标、计划、时间、执行、控制中的团队效能的开发</li>
                                <li><i class="iconfont">&#xe663;</i>背后无忧 —— 让员工和管理者一起行动的团队作战状态</li>
                                <li><i class="iconfont">&#xe663;</i>无冕称王 —— 管理者个人的非权力性影响力</li>
                            </ul>
                            <img src="./image/16.png" alt=""><!-- 
                            --><img src="./image/17.png" alt=""><!-- 
                            --><img src="./image/18.png" alt="">
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                    --><div>工作模式</div>
                                </div>
                                <li><i class="iconfont">&#xe663;</i>主题面谈 —— 听取高管的个人成长史即兴聊天，即时表达基于通晓相关知识、资讯的观点和主张</li>
                                <li><i class="iconfont">&#xe663;</i>心理旅行 —— 在陪同高管业务出行的过程中，通过观察和自然交流，了解高管的心理行为特点</li>
                                <li><i class="iconfont">&#xe663;</i>主题报告 —— 根据对高管的全面了解，提出专业化的有利于高管的工作预案。</li>
                            </ul>
                            
                        </section>
                        <section class="principal">
                            <h3 class="anchor">面向职员-心理援助计划</h3>
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                    --><div>背景分析</div>
                                </div>
                                <img src="./image/19.png" alt=""><!-- 
                                --><img src="./image/20.png" alt=""><!-- 
                                --><img src="./image/21.png" alt="">
                                <p><i class="iconfont">&#xe663;</i>一个富有生命力的公司，标志性的观察点是在职员工的群体状态——对公司的认同感、心理归属感，对现状的满足、对未来的信心。这是一个很好的状态——无难可阴，无坚不克。然而，这样的状态不是坐等可期。必须付出努力！</p>
                                <p><i class="iconfont">&#xe663;</i>为了满足公司发展需要，打造一支高素质，高效率，高执行力的团队，使公司在激烈的市场竞争中富有生命力、竞争力，培训是“一份付出，十倍回报”的智慧之选。</p>
                                <p> <i class="iconfont">&#xe663;</i>培训是一种借助外部力量帮助管理者传递给新入职员工一系列体现现代企业文化精神的理念、知识、价值、行为准则，快速溶入公司企业文化；培训让已有职员及时调整自己的状态，接收和内化企业的价值观念、行为模式，培养良好的工作心态，职业素质，胜任岗位工作要求。</p>
                            </ul>
                            <img src="./image/22.png" alt=""><!-- 
                            --><img src="./image/23.png" alt=""><!-- 
                            --><img src="./image/24.png" alt="">
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                 --><div>培训主题</div>
                                </div>
                                <li> <i class="iconfont">&#xe663;</i>你是否准备好了 —— 让自己快速进入职场要求的工作角色状态中来 </li>
                                <li><i class="iconfont">&#xe663;</i>让我轻轻告诉你 —— 企业的历史、文化、成就、目标、要求</li>
                                <li><i class="iconfont">&#xe663;</i>你的位置在哪里 —— 企业对岗位职责任务的要求和管理机制</li>
                                <li><i class="iconfont">&#xe663;</i>亮个相吧小宝贝 —— 描绘一个积极心态定向的职场发展的真实未来</li>
                                <li><i class="iconfont">&#xe663;</i>无规矩怎成方圆 —— 企业管理规章制度的目标定位和运行获益</li>
                                <li><i class="iconfont">&#xe663;</i>你的成长的阶梯 —— 职场发展的个人路径设计与攀登策略指导</li>
                                <li><i class="iconfont">&#xe663;</i>在同一条大船上 —— 个人与企业关系模式的心理解读和管理意义</li>
                            </ul>
                            <img src="./image/25.png" alt=""><!-- 
                            --><img src="./image/26.png" alt=""><!-- 
                            --><img src="./image/27.png" alt="">
                            <ul>
                                <div class="item">
                                    <div></div><!-- 
                                 --><div>工作模式</div>
                                </div>
                                <li><i class="iconfont">&#xe663;</i>报告厅 —— 由公司签约的应用心理学、人力资源管理、社会工作三个学科领域的专家带来“前期调研+双方协商”的主题报告</li>
                                <li><i class="iconfont">&#xe663;</i>心沙龙 —— 由专家和工作团队在职员培训现场进行面对面的互动分享，人人可以表达自己的见解，专家进行掌控话题的引导</li>
                                <li><i class="iconfont">&#xe663;</i>工作坊 —— 在“前期调研+双方协商”的前期沟通和心沙龙信息反馈的基础上，推送三个左右的专家主持的工作坊，进行更为深入细致的交流</li>
                                <li><i class="iconfont">&#xe663;</i> 锦囊堂 —— 越是知识水平不高、社会阅历尚浅的职员，越需要明确具体的指导，我们的专家进行一对一的指导，并给出明确具体的建议。</li>
                            </ul>
                        </section>
                    </div>
                </div>
        </article>
    </body>
</html>