article .right{
    section.goverment{
        h3{
            font-size: 21px;
            font-weight: normal;
            line-height: 50px;
            border-bottom: 1px solid #379e6b;
        }
        span{
            color: #ca3f00;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        ul{
            li{
                margin-top: 8px;
                color: #264e65;
            }
        }
    }
    section.principal{
        span{
            color: #ca3f00;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        ul{
            li{
                margin-top: 8px;
                color: #264e65;
            }
        }
    }
    section.staff{
        .item{
            margin-top: 30px;
            li{
              display: inline-block;
              text-align: center;
              width: 20%;
              height: 100px;
              background: #8282d6;
              color: white;
              box-sizing: border-box;
              padding-top: 40px;
              border-radius: 5px;
              box-shadow: 3.8px 1px 1px darkgrey;
              span{
                display: inline-block;
              }
              &:hover{
                span{
                  animation:fontUp .9s linear;
                }
              }
              @keyframes fontUp {
                from{
                  transform: translateY(60px);
                  opacity: 0;
                }
                to{
                  transform: translateY(0px);
                  opacity: 1;
                }
              }
            }
            .iconfont{
              display: inline-block;
              font-size: 35px;
              vertical-align: top;
              color: #379d6b;
              margin-top: 36px;
            }
        }
    }
} 
