<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广东了然文化传播有限公司</title>
</head>
<body>
<article>
    <div class="left">
        <div class="header">
            <!--左侧标题-->
            <h2>心观天下</h2>
        </div>
        <div class="navList">
            <ul>
                <li><i class="iconfont">&#xe618;</i><a href="./heartToWorld.html?type=storm">它山之石</a></li>
                <li><i class="iconfont">&#xe618;</i><a href="./heartToWorld.html?type=date">时代脉搏</a></li>
                <li><i class="iconfont">&#xe618;</i><a href="./heartToWorld.html?type=person">大写的人</a></li>
                <li class="active"><i class="iconfont">&#xe618;</i><a href="./heartToWorld.html?type=word">警世通言</a></li>
                <li><i class="iconfont">&#xe618;</i><a href="./heartToWorld.html?type=healthy">健康中国</a></li>
            </ul>
        </div>
    </div>

    <div class="right">
        <div id="articles">
            <section class="articles">
                <div class="img-wrapper">
                    <img src="http://pic19.nipic.com/20120318/8598718_171235023396_2.jpg">
                </div>
                <span class="publisher">了然文化</span><span class="time">2017/10/12</span>
                <h3><a href="http://mp.weixin.qq.com/s/86LZ21eVkMKFLXT_0GbAig">我们为什么要国庆？</a></h3>
                <div class="intro">
                    19世纪末，一位中国人正在过桥，他身后有两个美国人，打赌他会不会游泳，然后两人一使劲，把他扔进河里，淹死。然后，就没有然后了……
                </div>
                <a class="article-footer" href="http://mmbiz.qpic.cn/mmbiz_jpg/x2Op4pFSz70UhTgWQXiaGibEvPnESzZESHXt1ia2rfLIq4cWvvicecwVchmEPLGkDTfEl4Fd5zOtiafhq74Vy46WiaQg/0?wx_fmt=jpeg">它山之石</a>
            </section>
        </div>
        <div class="pagination-container">
            <div id="pager"></div>
        </div>
    </div>
</article>
</body>
</html>