<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广东了然文化传播</title>
</head>
<body>
<article>
    <div class="left">
        <div class="header">
            <!--左侧标题-->
            <h2>政府心理服务项目</h2>
        </div>
        <div class="navList">
            <ul>
                <li><i class="iconfont">&#xe618;</i>面向首长-心理助理计划</li>
                <li><i class="iconfont">&#xe618;</i>面向干部-心理顾问计划</li>
                <li><i class="iconfont">&#xe618;</i>面向职员-心理援助计划</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="header">
            <div>
                您所在的位置: <a href="./index.html">首页</a> > <a href="#">产品服务</a>
            </div>
        </div>
        <div class="content-wrapper">
            <section class="goverment">
                <h3>企业心理服务项目</h3>
                <ul>
                    <span>服务对象</span>
                    <li>党政干部机关</li>
                    <li>行政执法类单位</li>
                    <li>政府各级部门</li>
                    <li>企事业单位</li>
                    <li>教育事业单位</li>
                    <li>卫生事业单位</li>
                    <li>农业事业单位</li>
                    <li>科技事业单位</li>
                    <li>文化事业单位</li>
                    <li>体育事业单位。</li>
                    <li>城市公用事业单位。</li>
                    <li>交通事业单位。</li>
                    <li>社会福利事业单位。</li>
                    <li>机关后勤服务事业单位。</li>
                    <li>社会中介事业单位。</li>
                </ul>
            </section>
            <section class="principal">
                <h3 class="anchor">面向首长-心理助理计划</h3>
                <ul>
                    <span>宏观视野</span>
                    <li>无论你是谁，要有大视野</li>
                    <li>穿越历史时空</li>
                    <li>关注世界大势</li>
                    <li>踏准国家节奏</li>
                </ul>
                <ul>
                    <span>中观视野</span>
                    <li>描绘蓝图      招贤纳士</li>
                    <li>建章立制      磨兵砺马</li>
                    <li>论功行赏      危机远见</li>
                    <li>守成创新      社会担当</li>
                </ul>
                <ul>
                    <span>微观视野</span>
                    <li>总体部门功能岗位框架设计</li>
                    <li>选拔胜任力与岗位匹配的人</li>
                    <li>评价机制</li>
                    <li>薪酬待遇</li>
                    <li>心理激励</li>
                </ul>
            </section>
            <!-- <section class="cadres">
                <h3 class="anchor"></h3>
            </section> -->
            <section class="staff">
                <h3 class="anchor">面向职员-心理援助计划</h3>
                <ul class="item">
                    <li><span>初入期</span></li>
                    <i class="iconfont"></i>
                    <li><span>上升期</span></li>
                    <i class="iconfont"></i>
                    <li><span>巅峰期</span></li>
                    <i class="iconfont"></i>
                    <li><span>衰退期</span></li>
                </ul>
            </section>
        </div>

    </div>
</article>
</body>
</html>