<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广东了然文化传播</title>
</head>
<body>
<article>
    <div class="left">
        <div class="header">
            <!--左侧标题-->
            <h2>政府心理服务项目</h2>
        </div>
        <div class="navList">
            <ul>
                <li class="active"><i class="iconfont">&#xe618;</i>党政干部机关</li>
                <li><i class="iconfont">&#xe618;</i>教育、卫生系统</li>
                <li><i class="iconfont">&#xe618;</i>科技、文化系统</li>
                <li><i class="iconfont">&#xe618;</i>城市交通、社会福利系统</li>
                <li><i class="iconfont">&#xe618;</i>社会中介系统</li>
                <li><i class="iconfont">&#xe618;</i>独立监察单位</li>
                <li><i class="iconfont">&#xe618;</i>国有企业</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="header">
            <div>
                您所在的位置: <a href="./index.html">首页</a> > <a href="#">产品服务</a>
            </div>
        </div>
        <div class="content-wrapper">
            <!--党政干部机关-->

            <section>
                <h3 class="anchor">党政干部机关</h3>
                <h4 class="title">党政干部机关包括：</h4>
                <span>
                 地方党委、政府和政府职能部门、人大常委会、政协、公安、检察院、法院、国有企业、地方党政机关
              </span>

                <h4 class="title">行政执法类单位包括：</h4>
                <ul class="lists resetMargin">
                    <li>立法机关：全国人大及其常务委员会</li>
                    <li>司法机关：法院；检察院</li>
                    <li>行政机关：地方政府；政府各级部门</li>
                </ul>

                <h4 class="title">政府各级部门包括：</h4>
                <span>发展和改革委员会、经济委员会教育局 、科学技术局（知识产权局） 民族宗教事务局
                公安局、监察局、民政局 、司法局、财政局、人力资源社会保障局、国土资源局、建设委员会、规划管理局、交通委员会、水务局、农业委员会、林业和园林管理局、商务局          文化局 、卫生局、人口和计划生育委员会、审计局、环境保护局 、广播电视局、体育局               统计局、新闻出版局 、工商行政管理局   质量技术监督局   食品药品监督管理局    旅游局   机关事务管理局     信息化办公室   外事办公室        侨务办公室 法制办公室  城市管理局  房产管理局 国有资产监督管理委员会国税局   地税局 气象局             防空办公室  安监办  信访局
                </span>
            </section>
            <!--党政干部机关-->
            <!--企事业单位-->
            <section>
                <h3 class="anchor">企事业单位：</h3>
                <h4 class="title">教育事业单位</h4>

                <ul class="lists resetMargin">
                    <li>基础教育单位，如中小学、幼儿园、托儿所等；</li>
                    <li>中等教育单位，如各类中等专业学校、中等职业技术学校、中等师范学校、技工学校等；</li>
                    <li>高等教育单位，如各类大专院校、独立设置的研究生院(部)等；</li>
                    <li>成人教育单位，如各类干部管理院校、教育(进修)学院、党校、团校、职工大学、夜大学、</li>
                    <li>广播电视大学、函授学校、讲师团、各类培训中心等；</li>
                    <li>特殊教育单位，如各类工读学校、盲聋哑学校、教会学校等。</li>
                </ul>

                <h4 class="title">卫生事业单位</h4>
                <ul class="lists resetMargin">
                    <li>医疗事业单位，如各类医院、卫生院、保健院(站)等；</li>
                   <li>卫生防疫检疫事业单位，如疾病预防控制中心、各类地方病防治院(所)站、防疫站(所)、检疫所(站)等；</li>
                    <li>血液事业单位，如采血中心(站)、血库等；</li>
                    <li>计划生育事业单位，如计划生育技术指导中心(站)、妇幼保健院(所、站)等；</li>
                    <li>卫生检验事业单位，如药品检验所(站)、食品检验所(站)等；</li>
                    <li>卫生监督单位，如卫生监督所、站等。</li>
                </ul>

                <h4 class="title">农业事业单位</h4>
                <ul class="lists resetMargin">
                    <li>农业技术推广事业单位，</li>
                    <li>如农业技术推广站、农经站、林业站、水利站、畜牧兽医站、水产站、农业机构推广站等；良种培育事业单位</li>
                    <li>如种子(苗圃)站、实验(养殖、试验)站、良种配种站等；</li>
                    <li>综合服务事业单位，如土肥站、水土保持站、植物(森林防灾)保护站(所)、农业(林业)自然保护区管理机构等；</li>
                    <li>动植物防疫检疫事业单位，如动植物防疫(站)、检疫所(站)等；水文事业单位，如水文勘测站、水流域管理(所)、水文站等。</li>
                </ul>

                <h4 class="title">科技事业单位</h4>
                <ul class="lists resetMargin">
                    <li>自然科学研究单位，如基础型科研院所、应用型科研院所等；</li>
                    <li>社会科学研究事业单位，如基础理论研究院所、人文历史研究院所、综合性科学研究单位。</li>
                </ul>

                <h4 class="title">文化事业单位</h4>
                <ul class="lists resetMargin">
                    <li>演出事业单位，如各类演出团(院、队)等；艺术创作事业单位，如艺术创作院所、艺术制作中心、音像影视制作中心等；</li>
                    <li>图书文献事业单位，如图书馆、档案馆、文献情报中心等；</li>
                    <li>文物事业单位，如文物保护站、文物考古队(所)、博物馆、纪念馆等；</li>
                    <li>群众文化事业单位，如群众艺术馆、文化馆(站、宫)、青少年宫、俱乐部等；</li>
                    <li>广播电视事业单位，如广播电台(站)、电视台、转播台(站)等；</li>
                    <li>报刊事业单位，如各类报社、期刊社等；编辑事业单位，如各类编辑部、党史编纂室、地方志编纂室等；</li>
                    <li>新闻出版事业单位，如各类图书出版社、音像出版社、电子出版社、新闻中心、新闻社等。</li>
                </ul>

                <h4 class="title">体育事业单位</h4>
                <ul class="lists resetMargin">
                    <li>体育竞技事业单位，如各类运动队、俱乐部等；</li>
                    <li>体育设施事业单位，如各类训练基地、比赛场馆等。</li>
                </ul>

                <h4 class="title">城市公用事业单位</h4>
                <ul class="lists resetMargin">
                    <li>园林绿化事业单位，如园林绿化队(站)、公园、游乐园等；</li>
                    <li>城市环卫事业单位，如环卫所、清洁卫生队(站)、管道疏通队(站)；</li>
                    <li>市政建设事业单位，如市政工程队、市政工程维护队等；</li>
                    <li>房地产服务事业单位，如住房公积金管理中心、房屋建设服务中心、房地产交易中心、房屋安全鉴定所(站)等。</li>
                </ul>

                <h4 class="title">交通事业单位</h4>
                <ul class="lists resetMargin">
                    <li>公路建设维护事业单位，如公路养护段(站)、公路工程监理站(处)、公路工程造价管理站、公路管理局(处、所)．等；</li>
                    <li>公路运输管理事业单位，如公路运输管理局(处、所)、汽车检测中心(站)等；</li>
                    <li>交通规费征收事业单位，如稽查征费管理局(处、所)等；</li>
                    <li>航务事业单位，如航务港监船舶检验局(处、所)、航道养护段(站)、救助打捞队等。</li>
                </ul>

                <h4 class="title">社会福利事业单位</h4>
                <ul class="lists resetMargin">
                    <li>福利事业单位，</li>
                    <li>如养老院、福利院、孤儿院等；</li>
                    <li>康复治疗事业单位，</li>
                    <li>如干休所、荣军院、疗养院、休养所、伤残军人医院、残疾人康复中心、残疾人用品供应站等；</li>
                    <li>殡葬事业单位，如殡仪馆、火葬场等。</li>
                </ul>

            </section>

            <!--企事业单位-->


        </div>

    </div>
</article>
</body>
</html>