<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>广东了然文化传播有限公司</title>
    </head>
    <body>
        <article>
            <div class="left">
                <div class="header">
                    <!--左侧标题-->
                    <h2>产品服务</h2>
                </div>
                <div class="navList">
                    <ul>  
                        <li class="active">
                            <i class="iconfont">&#xe618;</i><span>教职员工心理服务</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe618;</i><span>后勤人员心理服务</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe618;</i><span>学校领导心理顾问</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe618;</i><span>中小学心理健康培育工程</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe618;</i><span>大学生心理健康保障工程</span>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </body>
</html>